body {
    background-color: #131316;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: AcuminPro-Black;
}

section {
    display: grid;
    place-content: center;
    place-items: center;
    min-height: 300vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}