body {
    height: 400vh;
    background: black;
    color: white;
    scroll-behavior: smooth;
}

.header-section {
    margin: 100px auto 0;
}

svg {
    overflow: visible;
    margin-top: 60vh;
}

.ball {
    fill: white;
}


.theOrangeLine{
    stroke: orange;
}

.tester {
    height: 2000px;
    width: 100%;
    background-color: white;
}







.vertical-line {
    border-left: 1px solid orange; /* Line color */
    height: auto; /* Height is responsive to both height and width */
    position: absolute; /* Positioning to place it wherever you need */
}


.line01 {
    transform: translateY(60vh); /* Verschiebt das Element um 60% der Viewporthöhe */
    left: 15%; /* Center it horizontally */
}

.line02 {
    transform: translateY(60vh); /* Verschiebt das Element um 60% der Viewporthöhe */
    left: 90%; /* Center it horizontally */
}

.line03 {
    transform: translateY(95vh); /* Verschiebt das Element um 60% der Viewporthöhe */
    left: 50%; /* Center it horizontally */
}

.line04 {
    transform: translateY(111vh); /* Verschiebt das Element um 60% der Viewporthöhe */
    left: 10%; /* Center it horizontally */
}

.line05 {
    transform: translateY(118vh); /* Verschiebt das Element um 60% der Viewporthöhe */
    right: 30%; /* Center it horizontally */
}