
.codeSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 75px;

    height: 100px;
    background-color: var(--geon-primary);
    margin-bottom: 100px;
    margin-top: 10px;
    padding: 0px 175px !important;
}



.codeSection > h3 {
    color: white;
    font-family: Acumin-Italic;
    font-size: var(--small-font) !important;
    justify-self: end;
}



.codeSection .submit-btn-redirect {
    background-color: var(--geon-secondary);
    height: 30px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


.codeSection > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-self: start;
}






/* Extra Small Devices (Phones, up to 480px) */
@media only screen and (max-width: 480px) {
    .codeSection > h3 {
        font-size: var(--small-font) !important;
        justify-self: center;
        margin-top: 20px;
    }
    
    .codeSection > form {
        justify-self: center;
    }

    .codeSection .submit-btn-redirect {
        width: 100px;
        font-size: var(---small-font) !important;
        font-family: Acumin-Bold;
    }

    #redirectForm > input {
        width: 150px;
    }

    .codeSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 !important;
        padding: 0 !important;
    }
}

  
/* Small Devices (Portrait Tablets and Small Phones, up to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .codeSection > h3 {
        font-size: var(--small-font) !important;
        justify-self: center;
        margin-top: 20px;
    }
    
    .codeSection > form {
        justify-self: center;
    }

    .codeSection .submit-btn-redirect {
        width: 100px;
        font-size: var(---small-font) !important;
        font-family: Acumin-Bold;
    }

    #redirectForm > input {
        width: 150px;
    }

    .codeSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 !important;
        padding: 0 !important;
    }
}


/* Medium Devices (Tablets in Landscape, 768px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .codeSection > h3 {
        font-size: var(--small-font) !important;
        justify-self: center;
        margin-top: 20px;
    }
    
    .codeSection > form {
        justify-self: center;
    }

    .codeSection .submit-btn-redirect {
        width: 100px;
        font-size: var(---small-font) !important;
        font-family: Acumin-Bold;
    }

    #redirectForm > input {
        width: 150px;
    }

    .codeSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 !important;
    }

}


/* Large Devices (Desktops, 1024px to 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}

/* Extra Large Devices (Large Desktops, 1200px to 1600px) */
@media only screen and (min-width: 1201px) and (max-width: 1600px) {

}
  

/* Ultra Large Devices (Very Large Screens, 1600px and up) */
@media only screen and (min-width: 1601px) {

}
  