

.contact {
    margin: auto 100px;
    margin-top: 20vh;
    height: 120vh;
}



.contactData > h3 {
    font-family: Acumin-Light;
    margin-top: 50px;
    color: var(--contact-basic-color);
}

.contactHeading {
    color: var(--contact-heading-color);
}

.contactForm {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contactForm > a {
    color: black;
    text-decoration: none;
    font-size: 28px;
    width: 300px;
    color: var(--contact-basic-color);
    
}

#homeIcon {
    transform: scale(0.034);
}

#phoneIcon {
    transform: scale(0.24);
}

#emailIcon {
    transform: scale(0.05);
}


.bg-primary {
    background: #1b1d1f !important;
}

.btn.btn-primary {
    background: #1b1d1f !important;
    border-color: #1b1d1f !important;
    color: #fff;
}

#spacer {
    margin-bottom: 50px;
}