/* =======================
   Global Variables
   ======================= */

   
   :root {

    
    /* ==============================================
                        CORE VARIABLES
       ============================================== */
        --accent-color: #004466;
        --secondary-color: #ccbb88;
        --light-bg: white;
        --dark-bg: rgb(230, 230, 230);
        --heading-text-color: black;
        --basic-text-color: black;

        --very-big-font: 65px;
        --large-font: 50px;
        --medium-big-font: 35px;
        --big-font: 30px;
        --medium-font: 23px;
        --small-font: 18px;
        --very-small-font: 15px;

        --dot-font: 35px;
        --a-font: 20px;






    /* =======================
       Colors
       ======================= */

    /* Hero Section */
    --hero-bg: var(--light-bg);
    --hero-basic-color: var(--basic-text-color);

    /* Vision Section */
    --vision-bg: var(--dark-bg);
    --vision-basic-color: var(--basic-text-color);

    /* Our Offer Section */
    --ourOffer-bg: var(--light-bg);
    --ourOffer-basic-color: var(--basic-text-color);
    --ourOffer-heading: var(--heading-text-color);
    --ourOfferSquare-basic-color: var(--basic-text-color);
    --ourOfferSquare-heading-color: var(--basic-text-color);

    /* How It Works */
    --howItWorks-bg: var(--dark-bg);
    --howItWorks-basic-color: var(--basic-text-color);
    --howItWorks-accent-color: var(--accent-color);

    /* Contact */
    --contact-heading-color: var(--basic-text-color);
    --contact-basic-color: var(--basic-text-color);
    
    --footer-bg-color: var(--accent-color); /* Footer background color */
    --footer-link-color: #b0aeaf; /* Link color */
    --footer-link-hover-color: var(--accent-color); /* Link color on hover */
    --footer-copyright-color: #ffffff; /* Copyright text color */


    

 
    /* =======================
       Margins & Paddings
       ======================= */
    --info-box-padding: 150px 175px; /* Margin for info boxes (top and bottom) */
    --footer-margin-top: 20px; /* Margin above links in the footer */
    --footer-copyright-margin-top: 10px; /* Margin above the copyright text */
    --logo-margin: 10px 45%; /* Center images horizontally */


    /* =======================
       Sizes
       ======================= */
    --info-box-height: 220px;
    --data-rectangle-height: 360px;
    --circle-size: 15px;
}



@font-face {
    font-family: "Acumin-Regular";
    src: url("./AcuminPro/Acumin Pro Book.otf");
}

@font-face {
    font-family: "Acumin-Black";
    src: url("./AcuminPro/Acumin Pro Black.otf");
}

@font-face {
    font-family: "Acumin-UltraBlack";
    src: url("./AcuminPro/Acumin\ Pro\ UltraBlack.otf");
}

@font-face {
    font-family: "Acumin-Bold";
    src: url("./AcuminPro/Acumin Pro Bold.otf");
}

@font-face {
    font-family: "Acumin-Light";
    src: url("./AcuminPro/Acumin Pro ExtraLight.otf");
}

@font-face {
    font-family: "Acumin-Thin";
    src: url("./AcuminPro/Acumin\ Pro\ Thin.otf");
}





h1, h2, h4, h5 {
    font-family: Acumin-Regular;
}






/* =======================
   Lined Title Styles
   ======================= */
.lined-title {
    position: relative;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the container spans the full width */
}

.lined-title::before,
.lined-title::after {
    content: '';
    flex-grow: 1; /* Makes the lines stretch as much as possible */
    height: 1px; /* Thickness of the line */
    background-color: #000; /* Line color */
}

.lined-title::before {
    margin-right: 20px; /* Space between the line and the text */
}

.lined-title::after {
    margin-left: 20px; /* Space between the line and the text */
}






/* =======================
   Footer Section Styles
   ======================= */
   

footer {
    height: 120px;
    background-color: var(--footer-bg-color);
    display: flex;
    text-align: center;
    flex-direction: column; /* Stack footer content vertically */
}

.links {
    margin-top: var(--footer-margin-top);
}

.links > a {
    text-decoration: none; /* Remove underline from links */
    color: var(--footer-link-color); /* Link color */
    padding: 0 10px; /* Space between links */
}

.links > a:hover {
    color: var(--footer-link-hover-color); /* Link color on hover */
}

.copyright {
    color: var(--footer-copyright-color);
    margin-top: var(--footer-copyright-margin-top);
}

.textBox { 
    justify-self: center;
    align-self: center;
    margin: var(--text-box-margin);
    text-align: center;
}


.infoContainer {
    padding: var(--info-box-padding); /* Margin above and below the info boxes */
}

.PTsection {
    margin-bottom: 30px;
}





/* =======================
    Animation Style
   ======================= */





html, body {
    scroll-behavior: smooth;
    background-color: var(--light-bg);
}





h1 {
    font-family: Acumin-Black;
    color: var(--ourOffer-heading);
    font-size: var(--large-font) !important;
    text-transform: uppercase;
}

h2 {
    font-size: var(--big-font) !important;
}

h3 {
    font-family: Acumin-Light;
    font-size: var(--small-font) !important;
}

h4 {
    font-family: Acumin-Light;
    font-size: var(--medium-font) !important;
}


a {
    text-decoration: none;
}



/* Extra Small Devices (Phones, up to 480px) */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: var(--small-font) !important;
    }
}

  
/* Small Devices (Portrait Tablets and Small Phones, up to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: var(--medium-big-font) !important;
    }
}


/* Medium Devices (Tablets in Landscape, 768px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}   


/* Large Devices (Desktops, 1024px to 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}


/** {
    border: solid 1px red !important;
}*/