


.logo {
    font-size: 30px !important;
}



/* =======================
   Navbar Styles
   ======================= */
#navbar {
    background-color: #1b1d1f !important; /* Navbar background color */
}

ul {
    margin-right: 30px;
}

li {
    margin: auto 20px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white !important;
    font-family: Acumin-Thin;
    font-size: var(--small-font) !important;
}




/* =======================
   Intro Section Styles
   ======================= */
.heroSection {
    background-color: var(--hero-bg);
    align-items: center; /* Center content vertically */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

.heroSection h1 {
    color: var(--hero-basic-color);
}

.data {
    margin-top: 200px;
    margin-left: 140px;
}


.data > h6 {
    color: var(--hero-basic-color) !important;
}

.dataText {
    margin-top: 45px;
    font-family: Acumin-Black;
}

.heroText {
    font-family: Acumin-Black;
    color: var(--hero-basic-color);
}

.dataRectangle {
    position: absolute;
    left: 70px;
    height: var(--data-rectangle-height);
    width: 20px;
    background-color: var(--accent-color);
}




.vision {
    color: var(--vision-basic-color);
    margin: 0;
    padding: 6vh 50px;
    border: solid 2px black;
    background-color: var(--vision-bg);
    height: 30vh;
}



