/* ===============================
   How It Works Section Styles
   =============================== */


/* =======================
   Grid
   ======================= */

.howItWorks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 225px 150px 150px 150px 150px 150px 150px;
    background-color: var(--howItWorks-bg);
    gap: 20px;
}

.howItWorksHeading {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: 50px;
    color: var(--ourOffer-heading) !important;
}

.howItWorksStepsText {
    font-size: 30px !important;
    color: var(--howItWorks-basic-color);
    text-align: center;
    line-height: 30px !important;

}

.howItWorksSpan {
    font-size: 20px;
}

.StepsText1 {
    grid-column: 1; /* Place in column 3 */
    grid-row: 2;    /* Place in row 1 */
}


.StepsText2 {
    grid-column: 3; /* Place in column 3 */
    grid-row: 3;    /* Place in row 2 */
}

.StepsText3 {
    grid-column: 1; /* Place in column 3 */
    grid-row: 4;    /* Place in row 3 */
}

.StepsText4 {
    grid-column: 3; /* Place in column 3 */
    grid-row: 5;    /* Place in row 4 */
}

.StepsText5 {
    grid-column: 1; /* Place in column 3 */
    grid-row: 6;    /* Place in row 5 */
}

.StepsText6 {
    grid-column: 3; /* Place in column 3 */
    grid-row: 7;    /* Place in row 6 */
}

.StepsText1, .StepsText3, .StepsText5 {
    text-align: right;
}

.StepsText2, .StepsText4, .StepsText6 {
    text-align: left;
}



.circle {
    grid-column: 2; /* Place circles in column 2 */
    border-radius: 50%;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: var(--howItWorks-accent-color); /* Black circle */
    justify-self: center; /* Center the circles horizontally */
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    top: 100%; /* Start the line at the bottom of the circle */
    left: 50%;
    width: 2px;
    height: 160px; /* Line between circles */
    background-color: var(--howItWorks-accent-color);
    transform: translateX(-50%);
}

 


.circle:last-child::before {
    display: none;
}



.heading {
    color: var(--howItWorks-accent-color);
    display: flex;
    justify-content: center; /* Center the "What We Do" title */
}


.line {
    width: 15vw;
    height: 0px;
    grid-column: 2;
    border-top: 0.5px solid var(--accent-color); /* Create a dotted line */
}

.line1 {
    margin-top: 6px;
}

.line2 {
    margin-top: 6px;
    margin-left: 15vw;
}

.line3 {
    margin-top: 6px;
}

.line4 {
    margin-top: 6px;
    margin-left: 15vw;
}

.line5 {
    margin-top: 6px;
}

.line6 {
    margin-top: 6px;
    margin-left: 15vw;
}



