/* ===============================
   How It Works Section Styles
   =============================== */


/* =======================
   Grid
   ======================= */

.howItWorks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    background-color: #000;
    gap: 20px;
}

.howItWorksHeading {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: 50px;
}

.howItWorksStepsText {
    color: white;
    border: solid 2px black;
    text-align: center;

}

.StepsText1 {
    grid-column: 1; /* Place in column 3 */
    grid-row: 2;    /* Place in row 1 */
}

.StepsText2 {
    grid-column: 3; /* Place in column 3 */
    grid-row: 4;    /* Place in row 2 */
}

.StepsText3 {
    grid-column: 1; /* Place in column 3 */
    grid-row: 6;    /* Place in row 3 */
}

.StepsText4 {
    grid-column: 3; /* Place in column 3 */
    grid-row: 8;    /* Place in row 4 */
}

.StepsText5 {
    grid-column: 1; /* Place in column 3 */
    grid-row: 10;    /* Place in row 5 */
}

.StepsText6 {
    grid-column: 3; /* Place in column 3 */
    grid-row: 12;    /* Place in row 6 */
}



.circle {
    grid-column: 2; /* Place circles in column 2 */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #d6fd51; /* Black circle */
    justify-self: center; /* Center the circles horizontally */
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    top: 100%; /* Start the line at the bottom of the circle */
    left: 50%;
    width: 2px;
    height: 400px; /* Line between circles */
    background-color: #d6fd51;
    transform: translateX(-50%);
}


.circle.on-gap::before {
    content: '';
    position: absolute;
    top: 50%; /* Adjust the starting point of the line for this ball */
    left: 50%;
    width: 2px;
    height: 350px;
    background-color: #d6fd51;
    transform: translateX(-50%);
}

.circle:last-child::before {
    display: none;
}