
/* ===============================
   What We Do Section Styles
   =============================== */


/* =======================
   Grid
   ======================= */


.ourOffer {
    display: grid;
    height: auto; /* Fixed height for the "What We Do" section */
    background-color: white; /* Background color */
    height: 100vh;

}

.ourOfferHeading {
    color: var(--ourOffer-basic-color);
    grid-column: 2;
    text-align: center;
}


.landOwners,
.citizens,
.investors {
    
    grid-row: 3; /* Position in the second row */
}

.landOwners {
    grid-column: 1; /* Position in the first column */
}

.citizens {
    grid-column: 2; /* Position in the second column */
}

.investors {
    grid-column: 3; /* Position in the third column */
}








.ourOfferHeading > h2 {
    display: flex;
    justify-content: center; /* Center the subtitle "-Our Passion-" */
    font-family: "acumin-pro", sans-serif;
    font-weight: 100;
}


img {
    margin: var(--img-margin); /* Center images horizontally */
}

.ourOfferHeader {
    margin-bottom: 30px;
    margin-top: 30px;
    color: var(--ourOfferSquare-basic-color);
    justify-content: center;
    margin-left: 40px;
    margin-right: 10px;
    font-family: Acumin-Black;    
}


.ourOfferInfoText {
    font-family: Acumin-Light;
    text-align: center;
    margin-top: 50px;
}

.headingText {
    display: inline-block;
    font-family: Acumin-Black;
}


.infoText {
    grid-column: 1 / span 3;
    text-align: center;
    color: var(--ourOffer-basic-color);
}


.offerSquare {
    background-color: #4c4c4c;
    margin: 5px;
    border: solid 1px #666666;
    height: auto;
}

.ourOfferText2 {
    background-color: #d6fd51;
    border: solid 2px black;
    grid-column: 1 / 4; /* This makes the element stretch from column 1 to column 3 */
    grid-row: 2;
}


.ourOfferSquareText {
    color: var(--ourOffer-basic-color);
    margin-left: 40px;
    margin-right: 10px;
    font-family: Acumin-Light;
}