/* Slider Container */
#slider {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 50vh; /* 50% viewport height */
    overflow: hidden; /* Hide overflowing slides */
    display: flex;
    align-items: center;
}



/* Individual Slides */
.slide {
    flex: 0 0 100%; /* Each slide takes up 100% of the container width */
    display: grid; /* Use grid to split image and text */
    grid-template-columns: 50% 50%; /* Image on the left, text on the right */
    height: 100%; /* Full slider height */
}

/* Image Styling */
.slide img {
    width: 100%; /* Full width of the grid column */
    height: 100%; /* Full height of the grid row */
    object-fit: cover; /* Maintain aspect ratio and cover space */
    margin: 0;
}

/* Text Section Styling */
.slide .text {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
    background-color: var(--geon-primary); /* Optional background for contrast */
    color: white; /* Ensure text visibility */
    text-align: left;
}


#quote {
    font-family: Acumin-Italic;
    font-size: var(--large-font) !important;
    margin-top: 50px;
    text-transform: none;
}

.text > h2 {
    font-size: var(--large-font) !important;
    font-family: Acumin-Black;
    text-transform: uppercase;
}

.text > p {
    margin-top: 10px;
    margin-bottom: 100px;
    font-family: Acumin-Italic;
}

