/* Slider Container */
#slider {
    position: relative;
    align-items: center;
}



/* Individual Slides */
.slide {
    display: grid; /* Use grid to split image and text */
    grid-template-columns: 40% 60%; /* Image on the left, text on the right */
    align-items: center;
    background-color: var(--geon-primary);
    height: 400px !important;
}

/* Image Styling */
.slide img {
    width: 100%; /* Full width of the grid column */
    height: 100%; /* Full height of the grid row */
    object-fit: cover; /* Maintain aspect ratio and cover space */
    margin: 0;
    overflow: hidden
}

/* Text Section Styling */
.slide .text {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
    color: white; /* Ensure text visibility */
    text-align: left;
}


#quote {
    font-family: Acumin-Italic;
    font-size: var(--medium-large-font) !important;
    text-transform: none;
}

.text > h2 {
    font-size: var(--medium-large-font) !important;
    font-family: Acumin-Black;
    text-transform: uppercase;
}

.text > p {
    margin-top: 10px;
    margin-bottom: 70px;
    font-family: Acumin-Italic;
    font-size: var(--small-font);
}





/* Extra Small Devices (Phones, up to 480px) */
@media only screen and (max-width: 480px) {
    #quote {
        font-size: var(--very-small-font) !important;
        margin-top: 10px;
    }
    
    .text > h2 {
        font-size: var(--very-small-font) !important;
    }
    
    .text > p {
        margin-top: -5px;
        margin-bottom: 30px;
        font-size: var(--mini-font);
    }


    .slide {
        height: 200px !important;
    }

    .slide .text {
        padding: 0 30px;
    }
}

  
/* Small Devices (Portrait Tablets and Small Phones, up to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #quote {
        font-size: var(--small-font) !important;
    }
    
    .text > h2 {
        font-size: var(--small-font) !important;
    }
    
    .text > p {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: var(--mini-font);
    }

    .slide {
        height: 200px !important;
    }

    .slide .text {
        padding: 0 50px;
    }
}


/* Medium Devices (Tablets in Landscape, 768px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #quote {
        font-size: var(--medium-font) !important;
    }
    
    .text > h2 {
        font-size: var(--medium-font) !important;
    }
    
    .text > p {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: var(--very-small-font);
    }

    .slide {
        height: 300px !important;
    }

    .slide .text {
        padding: 0 50px;
    }
}   


/* Large Devices (Desktops, 1024px to 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #quote {
        font-size: var(--big-font) !important;
    }
    
    .text > h2 {
        font-size: var(--big-font) !important;
    }
    
    .text > p {
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: var(--small-font);
    }

    .slide {
        height: 300px !important;
    }

    .slide .text {
        padding: 0 50px;
    }
}

/* Extra Large Devices (Large Desktops, 1200px to 1600px) */
@media only screen and (min-width: 1201px) and (max-width: 1651px) {
    #quote {
        font-size: var(--medium-big-font) !important;
    }
    
    .text > h2 {
        font-size: var(--medium-big-font) !important;
    }
    
    .text > p {
        margin-top: 10px;
        font-size: var(--small-font);
    }

    .slide {
        height: 350px !important;
    }
}
  

/* Ultra Large Devices (Very Large Screens, 1600px and up) */
@media only screen and (min-width: 1651px) {

}



